<!-- HEADER
================================================== -->
<section class="pt-8 pt-md-11">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-10 col-lg-9 col-xl-8">
        <!-- Heading -->
        <h1 class="display-4 text-center">
          <%= t("faq.#{name}.h1") %>
        </h1>

        <!-- Text -->
        <p class="lead mb-7 text-center text-muted">
          <%= t("faq.#{name}.short_desc") %>
        </p>
      </div>
    </div> <!-- / .row -->
  </div> <!-- / .container -->
</section>

<!-- SECTION
================================================== -->
<section class="pt-6 pt-md-8">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-10 col-lg-9 col-xl-8">

        <!-- Heading -->
        <h3 class="font-weight-bold">
          <%= t("faq.#{name}.heading_1") %>
        </h3>

        <!-- Text -->
        <p>
          <%= t("faq.#{name}.paragraph_1") %>
        </p>

        <!-- Heading -->
        <h3 class="font-weight-bold pt-4">
          <%= t("faq.#{name}.sub_heading_1") %>
        </h3>

        <!-- Text -->
        <p>
          <%= t("faq.#{name}.paragraph_2") %>
        </p>

        <!-- Figure -->
        <figure class="figure mb-7">

          <!-- Image -->
          <div class="text-center pt-4">
            <%= image_tag 'https://media.giphy.com/media/KBUNvEVtF2IavbLOea/giphy.gif', class: 'figure-img img-fluid rounded lift lift-lg', alt: t("faq.#{name}.caption_1") %>
             <!-- Caption -->

            <figcaption class="figure-caption text-center">
              <%= t("faq.#{name}.caption_1") %>
            </figcaption>
          </div>
        </figure>

        <!-- Heading -->
        <h3 class="font-weight-bold pt-4">
          <%= t("faq.#{name}.sub_heading_2") %>
        </h3>

        <!-- Text -->
        <p>
          <%= t("faq.#{name}.paragraph_2") %>
        </p>

        <!-- Figure -->
        <figure class="figure mb-7">

          <!-- Image -->
          <div class="text-center pt-4">
            <%= image_tag 'https://media.giphy.com/media/LSRZ5u4ea1QY7P6OlH/giphy.gif', class: 'figure-img img-fluid rounded lift lift-lg', alt: t("faq.#{name}.caption_2") %>
             <!-- Caption -->

            <figcaption class="figure-caption text-center">
              <%= t("faq.#{name}.caption_2") %>
            </figcaption>
          </div>
        </figure>

        <!-- Heading -->
        <h3 class="font-weight-bold pt-4">
          <%= t("faq.#{name}.sub_heading_3") %>
        </h3>

        <!-- Text -->
        <p>
          <%= t("faq.#{name}.paragraph_3") %>
        </p>

        <!-- Figure -->
        <figure class="figure mb-7">

          <!-- Image -->
          <div class="text-center pt-4">
            <%= image_tag 'https://media.giphy.com/media/SA0APdaaCXH6SVJl4E/giphy.gif', class: 'figure-img img-fluid rounded lift lift-lg', alt: t("faq.#{name}.caption_3") %>
             <!-- Caption -->

            <figcaption class="figure-caption text-center">
              <%= t("faq.#{name}.caption_3") %>
            </figcaption>
          </div>
        </figure>

        <!-- Heading -->
        <h3 class="font-weight-bold">
          <%= t("faq.#{name}.heading_2") %>
        </h3>

        <!-- Text -->
        <p>
          <%= t("faq.#{name}.paragraph_2") %>
        </p>

        <!-- Heading -->
        <h3 class="font-weight-bold">
          <%= t("faq.#{name}.heading_3") %>
        </h3>

        <!-- Text -->
        <p>
          <%= t("faq.#{name}.paragraph_3") %>
        </p>

      </div>
    </div> <!-- / .row -->
  </div> <!-- / .container -->
</section>
