<% content_for(:title, t('badges-professionnels.meta.title')) %>
<% content_for(:desc, t('badges-professionnels.meta.desc')) %>
<% content_for(:footer_color, 'bg-gray-200') %>

<!-- WELCOME
================================================== -->
<section class="py-10 py-md-14 overlay overlay-black overlay-60 bg-cover" style="background-image: url(../images/covers/cover-22.jpg);">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-10 col-lg-8 text-center">

        <!-- Heading -->
        <h1 class="display-2 font-weight-bold text-white">
          <%= t('badges-professionnels.banner.h1') %>
        </h1>

        <!-- Text -->
        <p class="lead text-white-75 mb-0">
          <%= t('badges-professionnels.banner.desc') %>
        </p>

      </div>
    </div> <!-- / .row -->
  </div> <!-- / .container -->
</section>

<!-- SHAPE
================================================== -->
<div class="position-relative">
  <div class="shape shape-bottom shape-fluid-x svg-shim text-light">
    <%= include_svg 'shapes/curves/curve-1.svg' %>
  </div>
</div>

<!-- SECTION 1
================================================== -->
<section class="pt-10 pt-lg-9 pb-md-4 pb-lg-8 bg-white">
  <div class="container">
    <div class="row align-items-center justify-content-between">
      <div class="col-12 col-md-6 col-lg-5">

        <!-- Badge -->
        <span class="badge badge-pill badge-success-soft mb-3">
          <span class="h6 text-uppercase"><%= t('badges-professionnels.section-1.label')%></span>
        </span>

        <!-- Heading -->
        <h2>
          <%= t('badges-professionnels.section-1.title').html_safe %>
        </h2>

        <!-- Text -->
        <p class="font-size-lg text-gray-700 mb-6">
          <%= t('badges-professionnels.section-1.desc') %>
        </p>

        <!-- List -->
        <div class="row">
          <div class="col-12 col-lg-6">

            <!-- Item -->
            <div class="d-flex">

              <!-- Check -->
              <div class="badge badge-rounded-circle badge-success-soft mt-1 mr-4">
                <i class="fe fe-check"></i>
              </div>

              <!-- Text -->
              <p class="text-success">
                <%= t('badges-professionnels.section-1.feature_1') %>
              </p>

            </div>

            <!-- Item -->
            <div class="d-flex">

              <!-- Check -->
              <div class="badge badge-rounded-circle badge-success-soft mt-1 mr-4">
                <i class="fe fe-check"></i>
              </div>

              <p class="text-success mb-lg-0">
                <%= t('badges-professionnels.section-1.feature_2') %>
              </p>

            </div>

          </div>
          <div class="col-12 col-lg-6">

            <!-- Item -->
            <div class="d-flex">

              <!-- Check -->
              <span class="badge badge-rounded-circle badge-success-soft mt-1 mr-4">
                <i class="fe fe-check"></i>
              </span>

              <!-- Text -->
              <p class="text-success">
                <%= t('badges-professionnels.section-1.feature_3') %>
              </p>

            </div>

            <!-- Item -->
            <div class="d-flex">

              <!-- Check -->
              <div class="badge badge-rounded-circle badge-success-soft mr-1 mr-4">
                <i class="fe fe-check"></i>
              </div>

              <!-- Text -->
              <p class="text-success mb-0">
                <%= t('badges-professionnels.section-1.feature_4') %>
              </p>

            </div>
          </div>
        </div> <!-- / .row -->

      </div>
      <div class="col-12 col-md-6">

        <!-- Images -->
        <div class="row">
          <div class="col-6 mt-8 mr-n5" data-aos="fade-up">
            <%= image_tag 'photos/photo-32.jpg', class: 'img-fluid mb-4 rounded', alt: 'photo de conference avec badges nominatifs'%>

            <%= image_tag 'photos/photo-4.jpg', class: 'img-fluid rounded', alt: 'photo seminaire avec badge'%>


          </div>
          <div class="col-6" data-aos="fade-up" data-aos-delay="100">


            <%= image_tag 'photos/photo-31.jpg', class: 'img-fluid mb-4 rounded', alt: 'photo evenements etiquette badge' %>

            <%= image_tag 'photos/photo-11.jpg', class: 'img-fluid rounded', alt: 'conference badge demo'%>

          </div>
        </div> <!-- / .row -->

      </div>
    </div> <!-- / .row -->
  </div> <!-- / .container -->
</section>

<!-- SECTION 2
================================================== -->
<section class="py-8 py-md-11">
  <div class="container">
    <div class="row align-items-center justify-content-between">
      <div class="col-12 col-md-5 order-md-2">

        <!-- Badge -->
        <span class="badge badge-info-soft badge-pill mb-3">
          <span class="h6 text-uppercase">
            <%= t('badges-professionnels.section-2.label') %>
          </span>
        </span>

        <!-- Heading -->
        <h2>
          <%= t('badges-professionnels.section-2.title') %>
        </h2>

        <!-- Text -->
        <p class="font-size-lg text-muted mb-6 mb-md-0">
          <%= t('badges-professionnels.section-2.desc') %>
        </p>

      </div>
      <div class="col-12 col-md-6 order-md-1">

        <!-- Card -->
        <div class="card card-border border-info shadow-lg">
          <div class="card-body">

            <!-- List group -->
            <div class="list-group list-group-flush">
              <% t('badges-professionnels.section-2.formats').each do |format| %>
                <div class="list-group-item d-flex align-items-center">

                  <!-- Text -->
                  <div class="mr-auto">

                    <!-- Heading -->
                    <p class="font-weight-bold mb-1">
                      <%= format[:title] %>
                    </p>

                    <!-- Text -->
                    <p class="font-size-sm text-muted mb-0">
                      <%= format[:desc] %>
                    </p>

                  </div>

                  <!-- Check -->
                  <div class="badge badge-rounded-circle badge-info-soft ml-4">
                    <i class="fe fe-check"></i>
                  </div>
                </div>
              <% end %>

            </div>

          </div>
        </div>

      </div>
    </div> <!-- / .row -->
  </div> <!-- / .container -->
</section>

<!-- SECTION 3
================================================== -->
<section class="mt-8 py-8 py-md-11 bg-light">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-12 col-md-5 col-lg-6 order-md-2">

        <!-- iPhone + Macbook -->
        <div class="w-md-150 w-lg-130 mb-6 mb-md-0">
          <div class="device-combo device-combo-iphonex-macbook">

            <!-- Macbook -->
            <div class="device device-macbook">
              <%= image_tag 'screenshots/desktop/application-1.png', class: 'device-screen', alt: 'application badge en ligne'%>
              <%= image_tag 'devices/macbook.svg', class: 'img-fluid', alt: 'illustration de macbook' %>
            </div>

          </div>
        </div>

      </div>
      <div class="col-12 col-md-7 col-lg-6 order-md-1">

        <!-- Badge -->
        <span class="badge badge-pill badge-primary-soft mb-3">
          <span class="h6 text-uppercase"><%= t('badges-professionnels.section-3.label') %></span>
        </span>

        <!-- Heading -->
        <h2>
          <%= t('badges-professionnels.section-3.title').html_safe %>
        </h2>

        <!-- Text -->
        <p class="font-size-lg text-muted mb-6">
          <%= t('badges-professionnels.section-3.desc')%>
        </p>

        <% t('badges-professionnels.section-3.features').each do |feature| %>

          <!-- List -->
          <div class="d-flex">

            <!-- Icon -->
            <div class="icon text-primary">
              <%= include_svg("icons/duotone-icons/#{feature[:icon]}.svg") %>
            </div>

            <div class="ml-5">

              <!-- Heading -->
              <h4 class="mb-1">
                <%= feature[:title] %>
              </h4>

              <!-- Text -->
              <p class="text-muted mb-5">
                <%= feature[:desc] %>
              </p>

            </div>

          </div>

        <% end %>

      </div>
    </div> <!-- / .row -->
  </div> <!-- / .container -->
</section>

<!-- CTA
================================================== -->
<section class="pt-3 pt-md-6 bg-light">
  <div class="container pb-6 pb-md-8 pt-6 pt-md-8 border-bottom border-top">
    <div class="row align-items-center">
      <div class="col-12 col-md">

        <!-- Heading -->
        <h3 class="mb-1">
          <%= t('badges-professionnels.cta.title') %>
        </h3>

        <!-- Text -->
        <p class="font-size-lg text-muted mb-6 mb-md-0">
          <%= t('badges-professionnels.cta.desc') %>
        </p>

      </div>
      <div class="col-12 col-md-auto">

        <%= link_to t('blog.cta_btn'), config[:app_url], class: 'btn btn-primary lift' %>

      </div>
    </div> <!-- / .row -->
  </div> <!-- / .container -->
</section>

